.pane {
	position:      relative;
	box-sizing:    border-box;
	border:        1px solid transparent;
	border-radius: var(--radius-0);
}




/* OUTLINE */

/* base */

.pane-outline-base-0 { border-color: var(--base-color-0)}
.pane-outline-base-1 { border-color: var(--base-color-1)}
.pane-outline-base-2 { border-color: var(--base-color-2)}
.pane-outline-base-3 { border-color: var(--base-color-3)}
.pane-outline-base-4 { border-color: var(--base-color-4)}

/* primary */

.pane-outline-primary-0 { border-color: var(--color-primary-0)}
.pane-outline-primary-1 { border-color: var(--color-primary-1)}
.pane-outline-primary-2 { border-color: var(--color-primary-2)}
.pane-outline-primary-3 { border-color: var(--color-primary-3)}
.pane-outline-primary-4 { border-color: var(--color-primary-4)}

/* success */

.pane-outline-success-0 { border-color: var(--color-success-0)}
.pane-outline-success-1 { border-color: var(--color-success-1)}
.pane-outline-success-2 { border-color: var(--color-success-2)}
.pane-outline-success-3 { border-color: var(--color-success-3)}
.pane-outline-success-4 { border-color: var(--color-success-4)}

/* error */

.pane-outline-error-0 { border-color: var(--color-error-0)}
.pane-outline-error-1 { border-color: var(--color-error-1)}
.pane-outline-error-2 { border-color: var(--color-error-2)}
.pane-outline-error-3 { border-color: var(--color-error-3)}
.pane-outline-error-4 { border-color: var(--color-error-4)}

/* warn */

.pane-outline-warn-0 { border-color: var(--color-warn-0)}
.pane-outline-warn-1 { border-color: var(--color-warn-1)}
.pane-outline-warn-2 { border-color: var(--color-warn-2)}
.pane-outline-warn-3 { border-color: var(--color-warn-3)}
.pane-outline-warn-4 { border-color: var(--color-warn-4)}

/* text */

.pane-outline-text-0 { border-color: var(--text-color-0)}
.pane-outline-text-1 { border-color: var(--text-color-1)}
.pane-outline-text-2 { border-color: var(--text-color-2)}
.pane-outline-text-3 { border-color: var(--text-color-3)}
.pane-outline-text-on-color:active { border-color: var(--text-on-color)}




/* FILL DEFAULT */

/* base */

.pane-fill-default-base-0 { background-color: var(--base-color-0)}
.pane-fill-default-base-1 { background-color: var(--base-color-1)}
.pane-fill-default-base-2 { background-color: var(--base-color-2)}
.pane-fill-default-base-3 { background-color: var(--base-color-3)}
.pane-fill-default-base-4 { background-color: var(--base-color-4)}

/* primary */

.pane-fill-default-primary-0 { background-color: var(--color-primary-0)}
.pane-fill-default-primary-1 { background-color: var(--color-primary-1)}
.pane-fill-default-primary-2 { background-color: var(--color-primary-2)}
.pane-fill-default-primary-3 { background-color: var(--color-primary-3)}
.pane-fill-default-primary-4 { background-color: var(--color-primary-4)}

/* success */

.pane-fill-default-success-0 { background-color: var(--color-success-0)}
.pane-fill-default-success-1 { background-color: var(--color-success-1)}
.pane-fill-default-success-2 { background-color: var(--color-success-2)}
.pane-fill-default-success-3 { background-color: var(--color-success-3)}
.pane-fill-default-success-4 { background-color: var(--color-success-4)}

/* error */

.pane-fill-default-error-0 { background-color: var(--color-error-0)}
.pane-fill-default-error-1 { background-color: var(--color-error-1)}
.pane-fill-default-error-2 { background-color: var(--color-error-2)}
.pane-fill-default-error-3 { background-color: var(--color-error-3)}
.pane-fill-default-error-4 { background-color: var(--color-error-4)}

/* warn */

.pane-fill-default-warn-0 { background-color: var(--color-warn-0)}
.pane-fill-default-warn-1 { background-color: var(--color-warn-1)}
.pane-fill-default-warn-2 { background-color: var(--color-warn-2)}
.pane-fill-default-warn-3 { background-color: var(--color-warn-3)}
.pane-fill-default-warn-4 { background-color: var(--color-warn-4)}

/* text */

.pane-fill-default-text-0 { background-color: var(--text-color-0)}
.pane-fill-default-text-1 { background-color: var(--text-color-1)}
.pane-fill-default-text-2 { background-color: var(--text-color-2)}
.pane-fill-default-text-3 { background-color: var(--text-color-3)}
.pane-fill-default-text-on-color:active { background-color: var(--text-on-color)}



/* FILL READY */

/* base */

.pane-fill-ready-base-0:hover { background-color: var(--base-color-0)}
.pane-fill-ready-base-1:hover { background-color: var(--base-color-1)}
.pane-fill-ready-base-2:hover { background-color: var(--base-color-2)}
.pane-fill-ready-base-3:hover { background-color: var(--base-color-3)}
.pane-fill-ready-base-4:hover { background-color: var(--base-color-4)}

/* primary */

.pane-fill-ready-primary-0:hover { background-color: var(--color-primary-0)}
.pane-fill-ready-primary-1:hover { background-color: var(--color-primary-1)}
.pane-fill-ready-primary-2:hover { background-color: var(--color-primary-2)}
.pane-fill-ready-primary-3:hover { background-color: var(--color-primary-3)}
.pane-fill-ready-primary-4:hover { background-color: var(--color-primary-4)}

/* success */

.pane-fill-ready-success-0:hover { background-color: var(--color-success-0)}
.pane-fill-ready-success-1:hover { background-color: var(--color-success-1)}
.pane-fill-ready-success-2:hover { background-color: var(--color-success-2)}
.pane-fill-ready-success-3:hover { background-color: var(--color-success-3)}
.pane-fill-ready-success-4:hover { background-color: var(--color-success-4)}

/* error */

.pane-fill-ready-error-0:hover { background-color: var(--color-error-0)}
.pane-fill-ready-error-1:hover { background-color: var(--color-error-1)}
.pane-fill-ready-error-2:hover { background-color: var(--color-error-2)}
.pane-fill-ready-error-3:hover { background-color: var(--color-error-3)}
.pane-fill-ready-error-4:hover { background-color: var(--color-error-4)}

/* warn */

.pane-fill-ready-warn-0:hover { background-color: var(--color-warn-0)}
.pane-fill-ready-warn-1:hover { background-color: var(--color-warn-1)}
.pane-fill-ready-warn-2:hover { background-color: var(--color-warn-2)}
.pane-fill-ready-warn-3:hover { background-color: var(--color-warn-3)}
.pane-fill-ready-warn-4:hover { background-color: var(--color-warn-4)}

/* text */

.pane-fill-ready-text-0:hover { background-color: var(--text-color-0)}
.pane-fill-ready-text-1:hover { background-color: var(--text-color-1)}
.pane-fill-ready-text-2:hover { background-color: var(--text-color-2)}
.pane-fill-ready-text-3:hover { background-color: var(--text-color-3)}
.pane-fill-ready-text-on-color:active { background-color: var(--text-on-color)}




/* FILL ACTIVE */

/* base */

.pane-fill-active-base-0:active { background-color: var(--base-color-0)}
.pane-fill-active-base-1:active { background-color: var(--base-color-1)}
.pane-fill-active-base-2:active { background-color: var(--base-color-2)}
.pane-fill-active-base-3:active { background-color: var(--base-color-3)}
.pane-fill-active-base-4:active { background-color: var(--base-color-4)}

/* primary */

.pane-fill-active-primary-0:active { background-color: var(--color-primary-0)}
.pane-fill-active-primary-1:active { background-color: var(--color-primary-1)}
.pane-fill-active-primary-2:active { background-color: var(--color-primary-2)}
.pane-fill-active-primary-3:active { background-color: var(--color-primary-3)}
.pane-fill-active-primary-4:active { background-color: var(--color-primary-4)}

/* success */

.pane-fill-active-success-0:active { background-color: var(--color-success-0)}
.pane-fill-active-success-1:active { background-color: var(--color-success-1)}
.pane-fill-active-success-2:active { background-color: var(--color-success-2)}
.pane-fill-active-success-3:active { background-color: var(--color-success-3)}
.pane-fill-active-success-4:active { background-color: var(--color-success-4)}

/* error */

.pane-fill-active-error-0:active { background-color: var(--color-error-0)}
.pane-fill-active-error-1:active { background-color: var(--color-error-1)}
.pane-fill-active-error-2:active { background-color: var(--color-error-2)}
.pane-fill-active-error-3:active { background-color: var(--color-error-3)}
.pane-fill-active-error-4:active { background-color: var(--color-error-4)}

/* warn */

.pane-fill-active-warn-0:active { background-color: var(--color-warn-0)}
.pane-fill-active-warn-1:active { background-color: var(--color-warn-1)}
.pane-fill-active-warn-2:active { background-color: var(--color-warn-2)}
.pane-fill-active-warn-3:active { background-color: var(--color-warn-3)}
.pane-fill-active-warn-4:active { background-color: var(--color-warn-4)}

/* text */

.pane-fill-active-text-0:active { background-color: var(--text-color-0)}
.pane-fill-active-text-1:active { background-color: var(--text-color-1)}
.pane-fill-active-text-2:active { background-color: var(--text-color-2)}
.pane-fill-active-text-3:active { background-color: var(--text-color-3)}
.pane-fill-active-text-on-color:active { background-color: var(--text-on-color)}
