.base-elem-inset {
	background-color: var(--color-bg-inset);
	border-color:     var(--color-border);
}

.base-elem-inset.base-elem-disabled {
	background-color: var(--color-bg-inset);
	border-color:     var(--color-border-disabled);
}

.base-elem-inset.base-elem-state-error {
	border-color: var(--color-border-error);
}