.gradient-border-wrapper {
	position:        relative;
	border-radius:   5px;
}


.gradient-border-wrapper > * {
	border:          1px solid transparent;
	background-clip: padding-box;
	border-radius:   5px;
}