.menu-item {
	position:        relative;
	display:         flex;
	flex-direction:  row;
	justify-content: flex-start;
	align-items:     center;
	min-height:      var(--s-1-5);
	width:           100%;
	gap:             var(--s-0-25);
	padding-left:    var(--s-0-25);
	padding-right:   var(--s-0-25);
	box-sizing:      border-box;
}


.menu-item:hover {
	background-color: var(--base-color-0)
}