
.bg-image-component {
	position: relative;
}


.bg-image-component-image,
.bg-image-component-overlay {
	position:              absolute;
	top:                   0;
	bottom:                0;
	left:                  0;
	right:                 0;
	background-repeat:     no-repeat;
	background-size:       cover;
	background-position-x: 100%;
	background-position-y: 0;
}


.bg-image-component-overlay {
}