
.image { position: relative; }


.image-main,
.image-overlay {
	position:          absolute;
	top:               0;
	bottom:            0;
	left:              0;
	right:             0;
	background-repeat: no-repeat;
}


.image-size-auto { background-size: auto; }


.image-size-cover { background-size: cover; }


.image-size-contain { background-size: contain; }