.list-item-entry {
	background-color: var(--color-background-0);
	border-radius:    var(--radius-0);
	border:           1px solid var(--color-border);
}

.list-item-entry-selected {
	background-color: var(--color-bg-info-faded);
}

.list-item-entry > div {
	min-width: 0;
	overflow: hidden;
}

.list-item-entry * {
	user-select: none
}
