.element-base {
	position:      relative;
	box-sizing:    border-box;
	border:        1px solid transparent;
	border-radius: var(--radius-0);
}


.element-base {
	border-color: var(--color-border);
}

.element-base-primary {
	border-color: var(--color-border-primary);
}

.element-base-success {
	border-color: var(--color-border-success);
}

.element-base-warn {
	border-color: var(--color-border-warn);
}

.element-base-error {
	border-color: var(--color-border-error);
}


.element-base:not(.element-base-outline) {
	background-color: var(--color-bg);
	border-color:     var(--color-border);
}

.element-base.element-base-interactive:hover:not(.element-base-outline) {
	background-color: var(--color-bg-hover);
	border-color:     var(--color-border-hover);
}

.element-base.element-base-interactive:active:not(.element-base-outline) {
	background-color: var(--color-bg-active);
	border-color:     var(--color-border-active);
}

.element-base-primary.element-base:not(.element-base-outline) {
	background-color: var(--color-bg-primary);
	border-color:     var(--color-border-primary);
}

.element-base-primary.element-base.element-base-interactive:hover:not(.element-base-outline) {
	background-color: var(--color-bg-primary-hover);
	border-color:     var(--color-border-primary-hover);
}

.element-base-primary.element-base.element-base-interactive:active:not(.element-base-outline) {
	background-color: var(--color-bg-primary-active);
	border-color:     var(--color-border-primary-active);
}

.element-base-success.element-base:not(.element-base-outline) {
	background-color: var(--color-bg-success);
	border-color:     var(--color-border-success);
}

.element-base-success.element-base.element-base-interactive:hover:not(.element-base-outline) {
	background-color: var(--color-bg-success-hover);
	border-color:     var(--color-border-success-hover);
}

.element-base-success.element-base.element-base-interactive:active:not(.element-base-outline) {
	background-color: var(--color-bg-success-active);
	border-color:     var(--color-border-success-active);
}

.element-base-warn.element-base:not(.element-base-outline) {
	background-color: var(--color-bg-warn);
	border-color:     var(--color-border-warn);
}

.element-base-warn.element-base.element-base-interactive:hover:not(.element-base-outline) {
	background-color: var(--color-bg-warn-hover);
	border-color:     var(--color-border-warn-hover);
}

.element-base-warn.element-base.element-base-interactive:active:not(.element-base-outline) {
	background-color: var(--color-bg-warn-active);
	border-color:     var(--color-border-warn-active);
}

.element-base-error.element-base:not(.element-base-outline) {
	background-color: var(--color-bg-error);
	border-color:     var(--color-border-error);
}

.element-base-error.element-base.element-base-interactive:hover:not(.element-base-outline) {
	background-color: var(--color-bg-error-hover);
	border-color:     var(--color-border-error-hover);
}

.element-base-error.element-base.element-base-interactive:active:not(.element-base-outline) {
	background-color: var(--color-bg-error-active);
	border-color:     var(--color-border-error-active);
}

.element-base-error-state {
	border-color: var(--color-border-error) !important;
}


/*
TODO: new props/classname structure concept
  variant filled => "elemennt-filled" + "element-outlined"
  variant outlined => "element-outlined"
  variant ghost => -
 */


.element-base-outlined.element-base-type-primary {
	border-color: var(--color-border-primary);
}

.element-base-outlined.element-base-type-primary.element-base-interactive:hover:not(.element-base-disabled) {
	border-color: var(--color-border-primary-hover);
}

.element-base-outlined.element-base-type-primary.element-base-interactive:active:not(.element-base-disabled) {
	border-color: var(--color-border-primary-active);
}

.element-base-outlined.element-base-type-primary.element-base-disabled {
	border-color: var(--color-border-primary-disabled);
}

.element-base-filled.element-base-type-primary {
	background-color: var(--color-bg-primary);
}

.element-base-filled.element-base-type-primary.element-base-interactive:hover:not(.element-base-disabled) {
	background-color: var(--color-bg-primary-hover);
}

.element-base-filled.element-base-type-primary.element-base-interactive:active:not(.element-base-disabled) {
	background-color: var(--color-bg-primary-active);
}

.element-base-filled.element-base-type-primary.element-base-disabled {
	background-color: var(--color-bg-primary-disabled);
}
