.menu {
	padding-top:    var(--radius-0);
	padding-bottom: var(--radius-0);
}

.menu > .box {
	border: unset;
}

.menu-with-submenu > .box > .menu-item:not(.sub-menu) {
	padding-right: var(--s-1-5);
}