.button {
	display:         flex;
	align-items:     center;
	justify-content: center;
	min-height:      var(--s-1-5);
	padding-left:    var(--s-0-75);
	padding-right:   var(--s-0-75);
}

.button:not(.base-elem-disabled) {
	cursor: pointer;
}

.button-square {
	min-width:  var(--s-1-5);
	max-width:  var(--s-1-5);
	min-height: var(--s-1-5);
	max-height: var(--s-1-5);
	padding:    unset;
}