.badge-wrapper {
	position: relative;
}

.badge {
	position:        absolute;
	display:         flex;
	align-items:     center;
	justify-content: center;
}

.badge {
	color: var(--color-text-on-variant);
}

.badge-info {
	background-color: var(--color-bg-info);
}

.badge-success {
	background-color: var(--color-bg-success);
}

.badge-error {
	background-color: var(--color-bg-error);
}

.badge-warn {
	background-color: var(--color-bg-warn);
}


.badge-point {
	width:         var(--s-0-5);
	height:        var(--s-0-5);
	top:           calc(var(--s-0-5) / -2);
	right:         calc(var(--s-0-5) / -2);
	border-radius: 50%;
}

.badge-text {
	min-width:     var(--s-0-75);
	height:        var(--s-0-75);
	top:           calc(var(--s-0-75) / -2);
	right:         calc(var(--s-0-75) / -2);
	border-radius: 10000px;
	padding:       0 var(--s-0-15);
	font-size:     var(--font-size-0);
}

.badge-icon {
	width:         var(--s-1);
	height:        var(--s-1);
	top:           calc(var(--s-1) / -2);
	right:         calc(var(--s-1) / -2);
	border-radius: 50%;
}