.showcase-view {
	width: 100%;
}


.background-0 {
	background-color: var(--background-color-0);
}


.background-1 {
	background-color: var(--background-color-1);
}


.showcase-controls {
	display:        flex;
	padding-bottom: 10px;
}

.background-0 > .showcase-controls {
	background-color: var(--background-color-1);
}

.background-1 > .showcase-controls {
	background-color: var(--background-color-0);
}

.showcase-controls > * {
	cursor:              pointer;
	-webkit-user-select: none;
	-moz-user-select:    none;
	-ms-user-select:     none;
	user-select:         none;
	margin:              0.5em;
	padding:             0.3em;
	border:              1px solid var(--text-color-1);
	color:               var(--text-color-1);
}


.showcase-content {
	display:        flex;
	flex-direction: column;
	align-items:    flex-start;
	gap:            20px;
	margin:         20px;
	height:         100vh;
}


.showcase-row {
	display:        flex;
	flex-direction: row;
	align-items:    flex-start;
	gap:            20px;
	position:       relative;
}

.showcase-row-full-width {
	width: 100%;
}
