.button {
	cursor:              pointer;
	-webkit-user-select: none;
	-moz-user-select:    none;
	-ms-user-select:     none;
	user-select:         none;

	display:             flex;
	align-content:       center;
	align-items:         center;
	justify-content:     center;

	padding:             0.5em;
	gap:                 0.5em;
	color:               var(--text-color-1);
}

.button > svg {
	fill:   var(--text-color-1);
	stroke: var(--text-color-1);
}

.button:hover:not(.button-disabled),
.button:hover:not(.button-disabled) > svg {
	color:  var(--text-color-2);
	fill:   var(--text-color-2);
	stroke: var(--text-color-2);
}

.button:active:not(.button-disabled),
.button:active:not(.button-disabled) > svg {
	color:  var(--text-color-2);
	fill:   var(--text-color-2);
	stroke: var(--text-color-2);
}

.button-disabled,
.button-disabled > svg {
	color:  var(--text-color-0);
	fill:   var(--text-color-0);
	stroke: var(--text-color-0);
}

.button-small.button-wrapper > .button,
.button-small:not(.button-wrapper) {
	padding:   0.2em 0.3em;
	font-size: var(--font-size-small);
	gap:       0.3em;
	box-sizing: border-box;
}


/* FILLED BUTTONS */

.button-filled {
	background-color: var(--base-color-0);
	border:           1px solid var(--base-color-3);
	border-radius:    5px;
}

.button-filled:hover:not(.button-disabled) {
	background-color: var(--base-color-1);
}

.button-filled:active:not(.button-disabled) {
	background-color: var(--base-color-2);
}


/* GHOST BUTTONS */

.button-ghost {
	background-color: transparent;
	border:           1px solid var(--base-color-3);
	border-radius:    5px;
}

.button-ghost:hover:not(.button-disabled) {
	background-color: var(--base-color-1);
}

.button-ghost:active:not(.button-disabled) {
	background-color: var(--base-color-2);
}


/* TEXT BUTTONS */

.button-text {
	border:        1px solid transparent;
	border-radius: 5px;
}

.button-text:hover:not(.button-disabled) {
	background-color: var(--base-color-1);
}

.button-text:active:not(.button-disabled) {
	background-color: var(--base-color-2);
}

/* HIGHLIGHTED BUTTONS */

.button-wrapper-info {
	background: var(--gradient-info-0);
}

.button-wrapper-success {
	background: var(--gradient-success-0);
}

.button-wrapper-error {
	background: var(--gradient-error-0);
}

.button-wrapper-warn {
	background: var(--gradient-warn-0);
}

.button-force-bg-0:not(:hover):not(:active) {
	background-color: var(--background-color-0);
}

.button-force-bg-1:not(:hover):not(:active) {
	background-color: var(--background-color-1);
}

/* ICON BUTTONS */

.icon-button {
	flex-direction: column;
	font-size:      var(--font-size-small);
}

.icon-button > svg {
	width:  1.5em;
	height: 1.5em;
}

