.text-field {
	position:       relative;
	display:        flex;
	flex-direction: row;
	align-items:    center;

	padding:        0.5em;
	gap:            1em;
	color:          var(--text-color-1);
}


.text-field * {
	height: 1rem;
}


.text-field-wrapper-none {
	background: var(--gradient-none-0);
}


.text-field-wrapper-info {
	background: var(--gradient-info-0);
}


.text-field-wrapper-success {
	background: var(--gradient-success-0);
}


.text-field-wrapper-error {
	background: var(--gradient-error-0);
}


.text-field-wrapper-warn {
	background: var(--gradient-warn-0);
}


.text-field > input {
	border:           1px solid transparent;
	background-color: transparent;
	font-size:        1em;
	padding:          0;
	width:            100%;
}


.text-field > input {
	color: var(--text-color-1)
}


.text-field-disabled > input,
.text-field-disabled > svg {
	color: var(--text-color-0);
	fill:  var(--text-color-0);
}


input:required,
input:focus,
input:invalid {
	box-shadow: none;
	outline:    none;
}


.text-field-not-editable > input {
	cursor: text;
}


.text-field-wrapper > .text-field:focus-within,
.text-field:focus-within {
	background-color: var(--base-color-0);
}


.text-field-filled {
	background-color: var(--base-color-1);
}


.text-field-wrapper-ghost > .text-field {
	background-color: transparent;
}


.text-field-wrapper-ghost > .text-field-force-bg-0 {
	background-color: var(--background-color-0);
}


.text-field-wrapper-ghost > .text-field-force-bg-1 {
	background-color: var(--background-color-1);
}


.text-field-wrapper-text,
.text-field-wrapper-text > .text-field {
	background: none;
}