.choice-box-wrapper {
	position: relative;
}


.choice-box-list {
	position:         absolute;
	right:            0;
	left:             0;
	margin-top:       2px;
	z-index:          1;
	background-color: var(--background-color-1);
	border-radius:    5px;
}


.choice-box-item {
	padding: 0.5em;
}


.choice-box-item:hover {
	background-color: var(--background-color-0);
}