.choice-box-wrapper {
	position: relative;
}

.choice-box-list {
	position:         absolute;
	right:            0;
	left:             0;
	margin-top:       2px;
	z-index:          1;
	background-color: var(--background-color-1);
	border-radius:    5px;
}


.choice-box-item {
	padding: 0.5em;
	display: flex;
}


.choice-box-item:hover {
	background-color: var(--background-color-0);
}


.choice-box-item-content {
	flex-grow: 1;
}


.choice-box-item-selected-icon {
}

.choice-box-title-dummy {
	max-height:    0;
	overflow:      hidden;
}