.box {
	display:    flex;
	position:   relative;
	box-sizing: border-box;
}

/* DIRECTION */

.box-up {
	flex-direction: column-reverse;
}

.box-down {
	flex-direction: column;
}

.box-left {
	flex-direction: row-reverse;
}

.box-right {
	flex-direction: row;
}


/* ALIGNMENT MAIN AXIS */

.box-main-start {
	justify-content: flex-start;
}

.box-main-end {
	justify-content: flex-end;
}

.box-main-center {
	justify-content: center;
}

.box-main-space-between {
	justify-content: space-between;
}

.box-main-spaced {
	justify-content: space-evenly;
}


/* ALIGNMENT CROSS AXIS */

.box-cross-start {
	align-items: flex-start;
}

.box-cross-end {
	align-items: flex-end;
}

.box-cross-center {
	align-items: center;
}

.box-cross-stretch {
	align-items: stretch;
}