.input-field-wrapper {
	display:         flex;
	justify-content: center;
	align-items:     center;
	height:          var(--s-1-5);
}

.input-field {
	display:         flex;
	justify-content: center;
	align-items:     center;
	position:        relative;
	flex-grow:       1;

	box-sizing:      border-box;
	height:          var(--s-1-5);
	border-radius:   var(--radius-0);
	color:           var(--text-color-1);
	border:          1px solid var(--base-color-4);
}

.input-field > svg {
	padding-left:  var(--s-0-25);
	padding-right: var(--s-0-25);
	width:         var(--s-1);
	height:        var(--s-1);
	fill:          var(--text-color-1);
	stroke:        var(--text-color-1);
}

/*INPUT*/

.input-field > input {
	border:        none;
	background:    none;
	margin:        0;
	color:         var(--text-color-1);
	padding-left:  var(--s-0-5);
	padding-right: var(--s-0-5);
	width:         100%;
}

.input-field > input::placeholder {
	color: var(--text-color-0);
}

input:required,
input:focus,
input:invalid {
	box-shadow: none;
	outline:    none;
}

.input-field-disabled {
	border: 1px solid var(--base-color-1);
}

.input-field-disabled > input {
	color: var(--text-color-0);
}

.input-field-disabled > svg {
	fill:   var(--text-color-0);
	stroke: var(--text-color-0);
}


/*GROUP*/
.input-field-group-pos-start {
	border-top-right-radius:    0;
	border-bottom-right-radius: 0;
	border-right:               unset;
}

.input-field-group-pos-middle {
	border-radius: 0;
	border-right:  unset;
}

.input-field-group-pos-middle-seamless {
	border-radius: 0;
	border-right:  unset;
	border-left:   unset;
}

.input-field-group-pos-end {
	border-top-left-radius:    0;
	border-bottom-left-radius: 0;
}

.input-field-group-pos-end-seamless {
	border-top-left-radius:    0;
	border-bottom-left-radius: 0;
	border-left:               unset;
}
