.kv-pair {
	display:        flex;
	flex-direction: row;
	position:       relative;
	gap:            var(--s-0-5)
}

.kv-pair > * {
	flex:      1;
	/*min-width: 50%;*/
	position: relative;
}

.kv-pair > .kv-pair-value {
	overflow: hidden;
}

.kv-pair-key > .badge-wrapper,
.kv-pair-key-label {
	max-width: 100%;
}

.kv-pair-key-label {
	overflow: hidden;
}

.kv-pair > .kv-pair-key {
	display:         flex;
	flex-direction:  row;
	justify-content: flex-end;
	align-items:     center;
}
