.sidebar-item {
	min-height:    var(--s-1-5);
	max-height:    var(--s-1-5);
	display:       flex;
	align-items:   center;
	gap:           var(--s-0-25);
	border-radius: var(--radius-0);
	padding-left:  var(--s-0-25);
	padding-right: var(--s-0-25);
	overflow:      hidden;
}

.sidebar-item:hover {
	background-color: var(--color-bg-raised-hover);
}
.sidebar-item:active {
	background-color: var(--color-bg-raised-active);
}

.sidebar-item-icon {
	min-width:       var(--s-1);
	max-width:       var(--s-1);
	display:         flex;
	align-items:     center;
	justify-content: center;
}

.sidebar-item-title {
	min-width:     var(--s-1);
	flex-grow:     10000;
	overflow:      hidden;
	white-space:   nowrap;
	text-overflow: ellipsis;
	color:         var(--color-text-primary);
	user-select:   none;
}

.sidebar-item-label {
	flex-grow:        1;
	padding-left:     var(--s-0-15);
	padding-right:    var(--s-0-15);
	background-color: var(--color-bg-raised);
	color:            var(--color-text-secondary);
	border-radius:    10000px;
	font-size:        var(--font-size-0);
	user-select:      none;
}