.dialog-base {
	background-color: var(--background-color-0);
}


.dialog-base > * {
	border-radius: 5px;
}


.dialog-header {
	padding:          1em 1em 1em 1em;
	margin-bottom:    2px;
	background-color: var(--background-color-1);

	display:          flex;
	align-items:      center;
	justify-content:  flex-start;
	gap:              0.5em;
}


.dialog-icon {
	display:     flex;
	align-items: center;
}


.dialog-icon > svg {
	width:        16px;
	height:       16px;
	margin-right: 4px;
	fill:         var(--text-color-2);
}


.dialog-title {
	margin-right: auto;
}


.dialog-body {
	background-color: var(--background-color-1);
	padding:          1em;
	min-height:       4em;
	display:          flex;
	align-items:      center;
}


.dialog-footer {
	display:         flex;
	justify-content: flex-end;
	padding:         1em;
	gap:             8px;
}