.modal-hidden-overlay,
.modal-overlay {
	position: fixed;
	top:      0;
	left:     0;
	width:    100%;
	height:   100%;
	display:  flex;
}


.modal-overlay-center {
	justify-content: center;
	align-items:     center;
}


.modal-overlay-bottom {
	justify-content: center;
	align-items:     flex-end;
}

.modal-overlay-bottom > .modal {
	padding-bottom: 20px;
}




.modal-hidden-overlay {
	pointer-events: none;
}


.modal-hidden-overlay > * {
	pointer-events: auto;
}


.modal-overlay {
	background: var(--overlay-color);
}


.modal {
	position:      relative;
	box-sizing:    border-box;
	overflow:      hidden;
	border-radius: 5px;
}