.modal-hidden-overlay,
.modal-overlay {
	position:        fixed;
	top:             0;
	left:            0;
	width:           100%;
	height:          100%;
	display:         flex;
	justify-content: center;
	align-items:     center;
}


.modal-hidden-overlay {
	pointer-events: none;
}


.modal-hidden-overlay > * {
	pointer-events: auto;
}


.modal-overlay {
	background: var(--overlay-color);
}


.modal {
	position:      relative;
	box-sizing:    border-box;
	overflow:      hidden;
	border-radius: 5px;
}