.notification-wrapper {
}


.gradient-box-border-info > .notification-wrapper-content.gradient-box-content {
	background: var(--gradient-info-1) content-box;
}


.gradient-box-border-success > .notification-wrapper-content.gradient-box-content {
	background: var(--gradient-success-1) content-box;
}


.gradient-box-border-error > .notification-wrapper-content.gradient-box-content {
	background: var(--gradient-error-1) content-box;
}


.gradient-box-border-warn > .notification-wrapper-content.gradient-box-content {
	background: var(--gradient-warn-1) content-box;
}


.gradient-box-border-none > .notification-wrapper-content.gradient-box-content,
.gradient-box-border-default > .notification-wrapper-content.gradient-box-content {
	background: var(--gradient-none-1) content-box;
}


.notification {
	display:        flex;
	flex-direction: row;
	padding:        0.5em;
	gap:            0.5em;
}


.notification-icon {
}


.notification-body {
	display:        flex;
	flex-direction: column;
	gap:            0.25em;
}


.notification-title {
}


.notification-content {
}


.notification-caption {
	color:      var(--text-color-0);
	align-self: flex-end;
	font-size:  var(--font-size-small);
}


.notification-close {
	color:         var(--text-color-1);
	padding:       0.3em;
	border-radius: 5px;
	margin-left:   1em;
}


.notification-close:hover,
.notification-close:hover > * {
	background-color: hsla(0, 0%, 40%, 0.3);
	fill:             var(--text-color-2);
	stroke:           var(--text-color-2);
}


.notification-close:active,
.notification-close:active > * {
	background-color: hsla(0, 0%, 20%, 0.3);
	fill:             var(--text-color-2);
	stroke:           var(--text-color-2);
}