.divider {
	background-color: black;
}


.divider-vertical {
	min-width: 5px;
	max-width: 5px;
	cursor:    col-resize;
}

.divider-horizontal {
	min-height: 5px;
	max-height: 5px;
	cursor:     row-resize;
}