.splitter {
	background-color: black;
}


.splitter-vertical {
	min-width: 5px;
	max-width: 5px;
	cursor:    col-resize;
}

.splitter-horizontal {
	min-height: 5px;
	max-height: 5px;
	cursor:     row-resize;
}