.box {
	display:  flex;
	position: relative;
}

.box-with-border {
	border:        1px solid var(--base-color-2);
	border-radius: var(--radius-0);
}

.box-invalid {
	border-color: var(--color-error-3);
}

/*DIRECTION*/

.box-dir-up {flex-direction: column-reverse; }


.box-dir-down {flex-direction: column; }


.box-dir-left {flex-direction: row-reverse; }


.box-dir-right {flex-direction: row; }


/*ALIGNMENT MAIN AXIS*/

.box-align-main-start { justify-content: flex-start; }


.box-align-main-end { justify-content: flex-end; }


.box-align-main-center { justify-content: center; }


.box-align-main-space-between { justify-content: space-between; }


.box-align-main-spaced { justify-content: space-evenly; }


/*ALIGNMENT CROSS AXIS*/

.box-align-cross-start { align-items: flex-start; }


.box-align-cross-end { align-items: flex-end; }


.box-align-cross-center { align-items: center; }


.box-align-cross-stretch { align-items: stretch; }
