.container {
	display: flex;
}


.container-padded {
	padding: 1em;
}


.container-dir-up {
	flex-direction: column-reverse;
}


.container-dir-down {
	flex-direction: column;
}


.container-dir-left {
	flex-direction: row-reverse;
}


.container-dir-right {
	flex-direction: row;
}


.container-align-main-start {
	justify-content: flex-start;
}


.container-align-main-end {
	justify-content: flex-end;
}


.container-align-main-center {
	justify-content: center;
}


.container-align-main-space-between {
	justify-content: space-between;
}


.container-align-main-spaced {
	justify-content: space-evenly;
}



.container-align-cross-start {
	align-items: flex-start;
}


.container-align-cross-end {
	align-items: flex-end;
}


.container-align-cross-center {
	align-items: center;
}


.container-align-cross-stretch {
	align-items: stretch;
}