
.fill-horz { width: 100%; }
.fill-vert { height: 100%; }
.fill-both { width: 100%; height: 100%; }

.gap-s-0 { gap: var(--s-0); }
.gap-s-0-15 { gap: var(--s-0-15); }
.gap-s-0-25 { gap: var(--s-0-25); }
.gap-s-0-5 { gap: var(--s-0-5); }
.gap-s-0-75 { gap: var(--s-0-75); }
.gap-s-1 { gap: var(--s-1); }
.gap-s-1-5 { gap: var(--s-1-5); }
.gap-s-2 { gap: var(--s-2); }
.gap-s-3 { gap: var(--s-3); }
.gap-s-4 { gap: var(--s-4); }
.gap-s-6 { gap: var(--s-6); }
.gap-s-8 { gap: var(--s-8); }
.gap-s-12 { gap: var(--s-12); }
.gap-s-16 { gap: var(--s-16); }
.gap-s-24 { gap: var(--s-24); }
.gap-s-32 { gap: var(--s-32); }
.gap-s-40 { gap: var(--s-40); }
.gap-s-48 { gap: var(--s-48); }

.padding-s-0 { padding: var(--s-0); }
.padding-s-0-15 { padding: var(--s-0-15); }
.padding-s-0-25 { padding: var(--s-0-25); }
.padding-s-0-5  { padding: var(--s-0-5); }
.padding-s-0-75 { padding: var(--s-0-75); }
.padding-s-1    { padding: var(--s-1); }
.padding-s-1-5  { padding: var(--s-1-5); }
.padding-s-2 { padding: var(--s-2); }
.padding-s-3 { padding: var(--s-3); }
.padding-s-4 { padding: var(--s-4); }
.padding-s-6 { padding: var(--s-6); }
.padding-s-8 { padding: var(--s-8); }
.padding-s-12 { padding: var(--s-12); }
.padding-s-16 { padding: var(--s-16); }
.padding-s-24 { padding: var(--s-24); }
.padding-s-32 { padding: var(--s-32); }
.padding-s-40 { padding: var(--s-40); }
.padding-s-48 { padding: var(--s-48); }
