* {

	--background-color-light-0: hsl(223, 23%, 94%);
	--background-color-light-1: hsl(228, 0%, 100%);

	--base-color-light-0:       hsl(228, 23%, 98%);
	--base-color-light-1:       hsl(231, 14%, 90%);
	--base-color-light-2:       hsl(228, 9%, 86%);
	--base-color-light-3:       hsl(228, 6%, 80%);

	--text-color-light-0:       hsl(0, 0%, 65%);
	--text-color-light-1:       hsl(0, 0%, 25%);
	--text-color-light-2:       hsl(0, 0%, 12%);
	--text-color-light-3:       hsl(0, 0%, 45%);

	--background-color-dark-0:  hsl(195, 3%, 25%);
	--background-color-dark-1:  hsl(195, 3%, 20%);

	--base-color-dark-0:        hsl(195, 3%, 23%);
	--base-color-dark-1:        hsl(195, 2%, 30%);
	--base-color-dark-2:        hsl(195, 2%, 33%);
	--base-color-dark-3:        hsl(195, 2%, 40%);

	--text-color-dark-0:        hsl(0, 0%, 55%);
	--text-color-dark-1:        hsl(0, 0%, 80%);
	--text-color-dark-2:        hsl(0, 0%, 90%);
	--text-color-dark-3:        hsl(0, 0%, 60%);

	--overlay-color-light:      hsla(0, 0%, 0%, 0.3);
	--overlay-color-dark:       hsla(0, 0%, 60%, 0.3);

	--gradient-none-0:          linear-gradient(155deg, var(--base-color-3), var(--base-color-3));
	--gradient-info-0:          linear-gradient(155deg, hsl(196, 100%, 74%), hsl(236, 100%, 64%));
	--gradient-success-0:       linear-gradient(155deg, hsl(87, 67%, 63%), hsl(101, 57%, 43%));
	--gradient-error-0:         linear-gradient(155deg, hsl(10, 100%, 56%), hsl(333, 80%, 50%));
	--gradient-warn-0:          linear-gradient(155deg, hsl(46, 89%, 64%), hsl(13, 96%, 71%));

	--gradient-none-light-1:    linear-gradient(155deg, var(--background-color-1), var(--background-color-1));
	--gradient-info-light-1:    linear-gradient(155deg, hsl(196, 100%, 90%), hsl(236, 100%, 90%));
	--gradient-success-light-1: linear-gradient(155deg, hsl(87, 67%, 90%), hsl(101, 57%, 90%));
	--gradient-error-light-1:   linear-gradient(155deg, hsl(10, 100%, 90%), hsl(333, 73%, 90%));
	--gradient-warn-light-1:    linear-gradient(155deg, hsl(46, 89%, 90%), hsl(13, 97%, 90%));

	--gradient-none-dark-1:     linear-gradient(155deg, var(--background-color-1), var(--background-color-1));
	--gradient-info-dark-1:     linear-gradient(155deg, hsl(196, 30%, 20%), hsl(236, 30%, 20%));
	--gradient-success-dark-1:  linear-gradient(155deg, hsl(87, 17%, 20%), hsl(101, 17%, 20%));
	--gradient-error-dark-1:    linear-gradient(155deg, hsl(10, 30%, 20%), hsl(333, 23%, 20%));
	--gradient-warn-dark-1:     linear-gradient(155deg, hsl(46, 29%, 20%), hsl(13, 30%, 20%));

	--default-duration:         0.2s;

	--font--size-default:       13px;
	--font-size-small:          11px;
	--font-size-tiny:           9px;

	--font-size-0:              10px;
	--font-size-1:              12px;
	--font-size-2:              14px;
	--font-size-3:              16px;
	--font-size-4:              18px;
	--font-size-5:              20px;
	--font-size-6:              24px;
	--font-size-7:              30px;
	--font-size-8:              36px;
	--font-size-9:              48px;
	--font-size-10:             60px;
	--font-size-11:             72px;

	--s-0-25:                   calc(16px * 0.25);
	--s-0-5:                    calc(16px * 0.50);
	--s-0-75:                   calc(16px * 0.75);
	--s-1:                      calc(16px * 1);
	--s-1-5:                    calc(16px * 1.5);
	--s-2:                      calc(16px * 2);
	--s-3:                      calc(16px * 3);
	--s-4:                      calc(16px * 4);
	--s-6:                      calc(16px * 6);
	--s-8:                      calc(16px * 8);
	--s-12:                     calc(16px * 12);
	--s-16:                     calc(16px * 16);
	--s-24:                     calc(16px * 24);
	--s-32:                     calc(16px * 32);
	--s-40:                     calc(16px * 40);
	--s-48:                     calc(16px * 48);
}