.react-contexify {
	background-color: var(--background-color-1);
	border-radius:    var(--radius-0);
	min-width: var(--s-8);
	padding: 5px 0;
}

.react-contexify__will-enter--scale {
	animation: react-contexify__scaleIn 0.1s;
}

.react-contexify > .react-contexify__item > .react-contexify__item__content {
	color:      var(--text-color-2);
	height:     var(--s-0-75);
	max-height: var(--s-0-75);
}

.react-contexify__submenu-arrow {
	padding-left: var(--s-0-5);
}

/*hover state*/
.react-contexify__item:not(.react-contexify__item--disabled):hover > .react-contexify__item__content, .react-contexify__item:not(.react-contexify__item--disabled):focus > .react-contexify__item__content {
	background-color: var(--base-color-1);
	color:            var(--text-color-2);
}

