.theme-dark {
	--background-color-0: var(--background-color-dark-0);
	--background-color-1: var(--background-color-dark-1);

	--base-color-0:       var(--base-color-dark-0);
	--base-color-1:       var(--base-color-dark-1);
	--base-color-2:       var(--base-color-dark-2);
	--base-color-3:       var(--base-color-dark-3);
	--base-color-4:       var(--base-color-dark-4);

	--text-color-0:       var(--text-color-dark-0);
	--text-color-1:       var(--text-color-dark-1);
	--text-color-2:       var(--text-color-dark-2);
	--text-color-3:       var(--text-color-dark-3);

	--overlay-color:      var(--overlay-color-dark);

	--color-primary-0:    var(--color-primary-dark-0);
	--color-primary-1:    var(--color-primary-dark-1);
	--color-primary-2:    var(--color-primary-dark-2);
	--color-primary-3:    var(--color-primary-dark-3);
	--color-primary-4:    var(--color-primary-dark-4);

	--color-success-0:    var(--color-success-dark-0);
	--color-success-1:    var(--color-success-dark-1);
	--color-success-2:    var(--color-success-dark-2);
	--color-success-3:    var(--color-success-dark-3);
	--color-success-4:    var(--color-success-dark-4);

	--color-error-0:    var(--color-error-dark-0);
	--color-error-1:    var(--color-error-dark-1);
	--color-error-2:    var(--color-error-dark-2);
	--color-error-3:    var(--color-error-dark-3);
	--color-error-4:    var(--color-error-dark-4);

	--color-warn-0:    var(--color-warn-dark-0);
	--color-warn-1:    var(--color-warn-dark-1);
	--color-warn-2:    var(--color-warn-dark-2);
	--color-warn-3:    var(--color-warn-dark-3);
	--color-warn-4:    var(--color-warn-dark-4);
}


.theme-light {
	--background-color-0: var(--background-color-light-0);
	--background-color-1: var(--background-color-light-1);

	--base-color-0:       var(--base-color-light-0);
	--base-color-1:       var(--base-color-light-1);
	--base-color-2:       var(--base-color-light-2);
	--base-color-3:       var(--base-color-light-3);
	--base-color-4:       var(--base-color-light-4);

	--text-color-0:       var(--text-color-light-0);
	--text-color-1:       var(--text-color-light-1);
	--text-color-2:       var(--text-color-light-2);
	--text-color-3:       var(--text-color-light-3);

	--overlay-color:      var(--overlay-color-light);

	--color-primary-0:    var(--color-primary-light-0);
	--color-primary-1:    var(--color-primary-light-1);
	--color-primary-2:    var(--color-primary-light-2);
	--color-primary-3:    var(--color-primary-light-3);
	--color-primary-4:    var(--color-primary-light-4);

	--color-success-0:    var(--color-success-light-0);
	--color-success-1:    var(--color-success-light-1);
	--color-success-2:    var(--color-success-light-2);
	--color-success-3:    var(--color-success-light-3);
	--color-success-4:    var(--color-success-light-4);

	--color-error-0:    var(--color-error-light-0);
	--color-error-1:    var(--color-error-light-1);
	--color-error-2:    var(--color-error-light-2);
	--color-error-3:    var(--color-error-light-3);
	--color-error-4:    var(--color-error-light-4);

	--color-warn-0:    var(--color-warn-light-0);
	--color-warn-1:    var(--color-warn-light-1);
	--color-warn-2:    var(--color-warn-light-2);
	--color-warn-3:    var(--color-warn-light-3);
	--color-warn-4:    var(--color-warn-light-4);

}