.text-area {
	display:         flex;
	justify-content: center;
	align-items:     center;
	position:        relative;
	flex-grow:       1;

	box-sizing:      border-box;
	min-height:      var(--s-1-5);
	color:           var(--text-color-1);
}

.text-area-resize-none > textarea {
	resize: none;
}

.text-area-resize-horizontal > textarea {
	resize: horizontal;
}

.text-area-resize-vertical > textarea {
	resize: vertical;
}

.text-area .input-on-colored {
	color: var(--text-on-color);
}

.text-area textarea {
	border:        none;
	background:    none;
	margin:        0;
	color:         var(--text-color-1);
	padding:  var(--s-0-5);
	width:         100%;
	flex-grow: 1;
}

.text-area .input-on-colored::placeholder {
	color:   var(--text-on-color);
	opacity: 70%;
}

.text-area textarea::placeholder {
	color: var(--text-color-0);
}

textarea:required,
textarea:focus,
textarea:invalid {
	box-shadow: none;
	outline:    none;
}

.text-area-disabled textarea {
	color: var(--text-color-0);
}
