.separator {}

.separator-dir-vertical {
	width:       0;
	height:      100%;
	border-left: 1px solid var(--base-color-4);
}

.separator-dir-horizontal {
	width:      100%;
	height:     0;
	border-top: 1px solid var(--base-color-4);
}