* {

	--s-0:                         0;
	--s-0-15:                      calc(16px * 0.15);
	--s-0-25:                      calc(16px * 0.25);
	--s-0-5:                       calc(16px * 0.50);
	--s-0-75:                      calc(16px * 0.75);
	--s-1:                         calc(16px * 1);
	--s-1-5:                       calc(16px * 1.5);
	--s-2:                         calc(16px * 2);
	--s-3:                         calc(16px * 3);
	--s-4:                         calc(16px * 4);
	--s-6:                         calc(16px * 6);
	--s-8:                         calc(16px * 8);
	--s-12:                        calc(16px * 12);
	--s-16:                        calc(16px * 16);
	--s-24:                        calc(16px * 24);
	--s-32:                        calc(16px * 32);
	--s-40:                        calc(16px * 40);
	--s-48:                        calc(16px * 48);

	--radius-0:                    5px;

	--font-size-0:                 10px;
	--font-size-1:                 12px;
	--font-size-2:                 14px;
	--font-size-3:                 16px;
	--font-size-4:                 18px;
	--font-size-5:                 20px;
	--font-size-6:                 24px;
	--font-size-7:                 30px;
	--font-size-8:                 36px;
	--font-size-9:                 48px;
	--font-size-10:                60px;
	--font-size-11:                72px;

}
