.sidebar-text-field {
	min-height:     var(--s-1-5);
	max-height:     var(--s-1-5);
	display:        flex;
	align-items:    center;
	border-radius:  var(--radius-0);
	padding:        var(--s-0-15) var(--s-0-25);
	overflow:       hidden;

}

.sidebar-text-field > .text-field {
	width: 100%;
}