.attrib-meta-selection-list-content {
	border-radius:    var(--radius-0);
	border:           1px solid var(--color-border);
	background-color: var(--color-background-1);
	height:           100%;
	overflow-y:       auto;
	overflow-x:       hidden;
}

.attrib-meta-selection-list-entry {
	border-radius:    var(--radius-0);
	border:           1px solid var(--color-border);
	background-color: var(--color-background-0);
	padding-left:     var(--s-0-25);
}

.attrib-meta-selection-list-entry > .box {
	overflow-x: hidden;
}