
.default-attrib-values-base {
	height: 200px;
	width:  500px;
}

.default-attrib-values-base > * {
	height:    100%;
	flex-grow: 1;
	width:     0;
}

.default-attrib-values-selected {
	border-radius:    var(--radius-0);
	border:           1px solid var(--color-border);
	background-color: var(--color-background-1);
	height:           100%;
	overflow-y:       auto;
	overflow-x:       hidden;
}

.attrib-value-entry {
	border-radius:    var(--radius-0);
	border:           1px solid var(--color-border);
	background-color: var(--color-background-0);
	padding-left:     var(--s-0-25);
}

.attrib-value-entry > .box {
	overflow-x: hidden;
}

.attrib-value-entry-content {
	border-top: 1px solid var(--color-border);
	padding:    var(--s-0-5);
}