.custom-attributes-base {
	height: 220px;
	width:  500px;
}

.custom-attributes-base > * {
	height:    100%;
	flex-grow: 1;
	width:     0;
}

.custom-attributes-list {
	border-radius:    var(--radius-0);
	border:           1px solid var(--color-border);
	background-color: var(--color-background-1);
	height:           100%;
	overflow-y:       auto;
	overflow-x:       hidden;
}

.attrib-entry {
	border-radius:    var(--radius-0);
	border:           1px solid var(--color-border);
	background-color: var(--color-background-0);
	padding-left:     var(--s-0-25);
}

.attrib-entry > .box {
	overflow-x: hidden;
}
